<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="LifeInsuranceTests" verbose="1" thread-count="3" parallel="tests">
    <test name="CarInsuranceTests" parallel="tests">
        <classes>
            <class name="RegisterTests"/>
            <class name="CarInsuranceTests"/>
            <class name="LifeInsuranceTests"/>
        </classes>
    </test>

</suite>